<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>dbevent2gc</title>
		<link rel="stylesheet" href="/style/reset.css" type="text/css">
		<link rel="stylesheet" href="/style/style.css" type="text/css">
		<script src="/js/jquery-1.6.3.min.js" type="text/javascript"></script>
		<%block name="script"/>
		<!--[if lt IE 9]>
		<script src="/js/html5.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>
		<div id="body-wrapper" class="radius">
			<header id="header">
				<h1><a href="/">dbenvent2gc</a></h1>
				<hgroup>将豆瓣同城活动订阅到Google Calendar</hgroup>
				<nav id="header-nav">
					<ul class="clearfix">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/source">Source</a></li>
					</ul>
				</nav>
			</header>
			<div id="container">
				${next.body()}
			</div>
			<footer id="footer">
				<a href="http://log4d.com">author: alswl</a></br>
				<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
			</footer>
		</div>
	</body>
</html>

## vim: set ft=mako foldmethod=indent:
