<%inherit file="/base.html"/>

<%block name="script">
<script type="text/javascript" src="/js/date.format.js"></script>
<script type="text/javascript">
	$(function() {

		$('#city, #type, #length').change(function() {
			var cityId = $('#city').val();
			if ($.trim(cityId) == '') {
				$('#generate-result').hide();
			} else {
				var type = $('#type').val();
				var length = $('#length').val()
				var url = 'http://${app_url}' + '/event/location/' + cityId + '?type=' + type + '&length=' + length;
				var googleUrl = 'http://www.google.com/calendar/render?cid=';
				url = googleUrl + escape(url);
				$('#generate-result').show();
				$('#generate-result a').attr('href', url);
				$('#generate-result input').val(url);
			}
		});

		$('#city').change(function() {
			$('#cityS').val($(this).val());
		});

		$('#cityS').change(function() {
			$('#city').val($(this).val()).change();
		});

	});
</script>
</%block>

<h2>选择需要的城市和活动类型</h2>

<article>

	<section>
		<label>城市名称（拼音）
			<select id="cityS">
				<option value="" >请选择或自己输入</option>
				<option value="beijing" >北京</option>
				<option value="shanghai" >上海</option>
				<option value="nanjing" >南京</option>
			</select>
		</label>
		<input id="city" type='text'></input>
		更多城市拼音查看<a href="http://www.douban.com/location/world/?others=true">这里</a>
	</section>

	<section>
		<label>活动类型
			<select id="type">
				<option value="all" >所有类型</option>
				<option value="music" >音乐/演出</option>
				<option value="exhibition" >展览</option>
				<option value="film" >电影</option>
				<option value="salon" >讲座/沙龙</option>
				<option value="drama" >戏剧/曲艺</option>
				<option value="party" >生活/聚会</option>
				<option value="sports" >体育</option>
				<option value="travel" >旅行</option>
				<option value="commonweal" >公益</option>
				<option value="others" >其他</option>
			</select>
		</label>
	</section>

	<section>
		<label>活动时间长度
			<select id="length">
				<option value="all" >任意</option>
				<option value="3" >3小时之内</option>
				<option value="6" >6小时之内</option>
				<option value="12" >半天之内</option>
				<option value="24" >1天之内</option>
				<option value="48" >2天之内</option>
				<option value="72" >3天之内</option>
				<option value="168" >1周之内</option>
				<option value="720" >30天之内</option>
			</select>
		</label>
	</section>

	<section id="generate-result" class="hidden center">
		<a href="" target="_blank">
			<img src="/image/gc_button6_zh-CN.gif" border=0>
		</a>
	</section>

</article>


## vim: set ft=mako foldmethod=indent:
