<%inherit file="/base.html"/>

<%block name="script">
<script type="text/javascript">
	$(function() {
		$('#generate-btn').click(function() {
			$('#generate-result').show();
			$('#generate-result a').attr('href', '/event/location/' + $('#city').val());
			$('#generate-result input').val('/event/location/' + $('#city').val());
		});
	});
</script>
</%block>

<h2>生成活动按钮</h2>

<article>

	<section>
		<label>城市名称（拼音）
			<input id="city" type="text" />
		</label>
	</section>

	<section>
		<label>点击这里生成
			<input id="generate-btn" type="submit" value="生成"/>
		</label>
	</section>

	<section id="generate-result" class="hidden">
		<input type="input" style="width: 420px"/></br>
		<a href="" target="_blank">
			<img src="/image/gc_button6_zh-CN.gif" border=0>
		</a>
	</section>

</article>


## vim: set ft=mako foldmethod=indent:
