<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Page Error</title>
	<link id="css-reset" rel="stylesheet" href="/css/reset.css" type="text/css">
	<link id="css-core" rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<header>
    <h1><a href="/">Demo Todo App</a></h1>      
	<nav>
		<ul>
			<li><a href="/admin">Admin</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<div id="main">
	<h1>An Error Has Occured</h1>
</div>
</body>
</html>